@import './../../../common/styles/breakpoints';
.sectionCalendarDay{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 35vh;  
  background-color: rgb(57, 168, 131);
  color: azure;
  @media screen and (min-width: $sm){      
    width: 50vw;
    height: 100vh;
  } 
}

.currentDate{
  display: flex;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15vh;
}

.fontHeader{
  font-size: 1.5rem;  
}
