%listPaddings{
    padding: 0 10vw; 
  @media screen and(min-width: $sm ) {    
    padding: 0 4vw;
  } 
  @media screen and(min-width: $xxl ) {    
    padding: 0 6vw;
  } 
  @media screen and(min-width: $xxxl ) {    
    padding: 0 8vw;
  }
}
%items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80vw/7);
  height: calc(80vw/7);
  @media screen and(min-width: $sm ) {
    width: calc(42vw/7);
    height: calc(42vw/7);
  }  
  @media screen and(min-width: $xxl ) {
    width: calc(38vw/7);
    height: calc(38vw/7);
  }
  @media screen and(min-width: $xxxl ) {
    width: calc(34vw/7);
    height: calc(34vw/7);
  } 
}