*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-wrapper{
  display: flex;
  flex-direction: row;
  
}
.section-calendar-day{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: rgb(57, 168, 131);
  color: azure;
}

.section-calendar-month{
  width: 50vw;
  height: 100vh;
  background-color: azure;
  color: rgb(57, 168, 131);
}
.list{
  display: flex;   
  justify-content: flex-start;  
  margin-top: 1vh;
  padding: 0 2.5vw;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(45vw/7);
  height: calc(45vw/7);  
}
.empty{
  visibility: hidden;
}
.flex-wrap{
  flex-wrap: wrap; 
}
.borderCell{
  border: 1px solid rgb(137, 182, 182);
}

.header{
  padding-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.curr-date{
  display: flex;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15vh;
}