@import './../../../../common/styles/breakpoints';
.btnWrapper{
  display: flex;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 5%;
  justify-content: center;
  margin: 1.5rem auto 0;
  @media screen and(min-width: $md ) {
    margin: 1.5rem auto 0.5rem;
  }
}
.btn{  
  width: max-content+10px;
  padding: 0.6rem;
  font-size: 0.9rem;
  background-color:  azure;
  color: rgb(74, 122, 122);
  cursor: pointer;
  &+.btn{
    margin-left: 15%;
  }
  &:hover{    
    color: azure;
    background-color: rgb(74, 122, 122);
  }
  @media screen and(min-width: $md ) {
    font-size: 1.2rem;
  }
}
.borderCell{
  border: 1px solid rgb(137, 182, 182);
}
