@import './../../../../common/styles/breakpoints';
@import './../../../../common/styles/templates';

.items{  
  @extend %items; 
}
.listDays{
  display: flex;   
  justify-content: flex-start;  
  margin-left: auto;   
  font-size: 1.2rem;
  @extend %listPaddings; 
  @media screen and(min-width: $sm ) {
    margin-top: 2rem;    
    font-size: 3vh;
  }
  @media screen and(min-width: $md ) {
    margin-top: 2rem
  }
  @media screen and(min-width: $xl ) {
    margin-top: 2rem;
  }
  @media screen and(min-width: $xxl ) {
    margin-top: 2rem;    
  }  
}


