@import './../../../common/styles/breakpoints';
.sectionCalendarMonth{  
  position: relative;
  width: inherit;
  height: 65%;  
  background-color: azure;
  color: rgb(57, 168, 131);
  @media screen and (min-width: $sm){      
    width: 50vw;
    height: 100vh;
  } 
}
.listsWprapper{  
  margin: auto; 
}

.header{
  padding-top: 5vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;  
}