.items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(45vw/7);
  height: calc(45vw/7);  
}
.list{
  display: flex;   
  justify-content: flex-start;  
  margin-left: auto;
  margin-top: 1vh;  
  padding: 0 2.5vw;
  font-size: 3vh;
}